.list {
  list-style-type: none;
  padding-left: 0;
  li {
    position: relative;
    padding-left: 1em;
    @include space(1);
    &:before {
      content: "\2713";
      position: absolute;
      left: 0;
    }
  }
}

.list--compact {
  li {
    @include space(0);
  }
}
